version: "3.8"

# docker volume create --driver local --opt o=bind mongodbdata ....

# MongoDB and Mongo-Express images:
# Try "docker search mongo"

volumes:
  data:
  mongodbdata:
    external: true
    
services:

  broker:
    image: 'prologic/mosquitto:latest'
    container_name: broker
    ports:
      - '1883:1883'

  mongodb:
    image: mongo
    container_name: ${MONGODB_SERVER}
    environment:
      - TZ=Europe/Amsterdam
      - MONGO_INITDB_ROOT_USERNAME=${MONGODB_ADMINUSERNAME}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGODB_ADMINPASSWORD}
      - MONGO_INITDB_DATABASE=${MONGO_INITDB_DATABASE}
      - MONGO_INITDB_USER=${MONGO_INITDB_USER}
      - MONGO_INITDB_PASS=${MONGO_INITDB_PASS}
    volumes:
      - ./mongodb/database:/data/db
      - ./mongo-init.sh:/docker-entrypoint-initdb.d/mongo-init.sh:ro
    networks:
      - mongodb_network
    ports:
      - 27017:27017
    healthcheck:
      test: echo 'db.runCommand("ping").ok' | mongo ${MONGODB_SERVER}:27017/test --quiet
      interval: 30s
      timeout: 10s
      retries: 3
    restart: unless-stopped

  mongo-express:
    image: mongo-express
    container_name: mongo-express
    environment:
      - ME_CONFIG_MONGODB_SERVER=${MONGODB_SERVER}
      - ME_CONFIG_MONGODB_ENABLE_ADMIN=${MONGODB_ENABLE_ADMIN}
      - ME_CONFIG_MONGODB_ADMINUSERNAME=${MONGODB_ADMINUSERNAME}
      - ME_CONFIG_MONGODB_ADMINPASSWORD=${MONGODB_ADMINPASSWORD}
      - ME_CONFIG_BASICAUTH_USERNAME=${MONGOEXPRES_BASICAUTH_USERNAME}
      - ME_CONFIG_BASICAUTH_PASSWORD=${MONGOEXPRES_BASICAUTH_PASSWORD}
    volumes:
      - data:/data/express
    depends_on:
      - mongodb
    networks:
      - mongodb_network
    ports:
      - 8081:8081
    healthcheck:
      # test:  wget --quiet --tries=3 --spider http://admin:admin123@mongo-express:8081 || exit 1
      test:  wget --quiet --tries=3 --spider http://${MONGOEXPRES_BASICAUTH_USERNAME}:${MONGOEXPRES_BASICAUTH_PASSWORD}@mongo-express:8081 || exit 1
      interval: 30s
      timeout: 10s
      retries: 3
    restart: unless-stopped

  nightscout:
    # image: 'nightscout/cgm-remote-monitor-development:latest'
    image: 'dev-nightscout:14.0.3'
    container_name: nightscout
    environment:
      - TZ=Europe/Amsterdam
      - MONGO_CONNECTION=mongodb://${MONGO_INITDB_USER}:${MONGO_INITDB_PASS}@${MONGODB_SERVER}:27017/${MONGO_INITDB_DATABASE}
      - MQTT_MONITOR=mqtt://${MONGO_INITDB_PASS}@broker
      - PORT=1337
      # Secure HTTPS is disabled here!
      - INSECURE_USE_HTTP=true

    env_file:
      - ns-apisecret.env
      - ns-settings.env
    networks:
      - mongodb_network
    links:
      - broker
      - mongodb
    ports:
      - '1337:1337'

networks:
  mongodb_network:
